.admin .table {
    color: black;
    border-top: none;
    border-color: #e7e1e13b;
}
.admin .table > thead > tr > th{
    border-top: none;
}
.admin .table > thead > tr > th {
    color: white;
    background-color: transparent;
}
.admin .table > tbody > tr > td {
    border-color: #e7e1e13b;
}
.admin .table-word-wrap > tbody > tr > td {
    word-wrap: break-word;
}
.admin .table > thead > tr > th:first-child {
    border-top-left-radius: 7px;
}
.admin .table > thead > tr > th:last-child {
    border-top-right-radius: 7px;
}
.admin .table-small-head > thead > tr > th {
    font-size: .8rem;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > td > a,
.table-hover > tbody > tr:hover > td > i
{
    color: white;
    background-color: #007EBD;
}
.admin .table-hover > tbody > tr:hover > td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.admin .table-hover > tbody > tr:hover > td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.admin .table-sla > tbody > tr > th {
    border-color: #e7e1e13b;
    color: grey;
}
.admin .table-hover > tbody > tr:hover > td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.admin .table-hover > tbody > tr:hover > td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
