<div class="container-light" id="footer"><div class="sections-container"><section class=" section tree-container" id="section_26730" >
            <div class="sb-bloc-inner container_324248_inner  container-light" id="container_324248_inner" style="padding: 10px 10px 10px 10px;">    <style>
                    .container_324248_inner {
                        position: relative;
                    }
                    .container_324248_inner:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        opacity: 1.0;background-color: #b8b5b5;
                    }
                </style>
                <div class="subcontainers"><div class="sb-row sb-row-custom subcontainers media-query"><div class=" sb-bloc sb-bloc-level-2 sb-col sb-col-sm" style="width: 100%;"><div id="container_17645427" class=" sb-bloc sb-bloc-level-3 bloc-element-static-container  " style="padding: 10px 10px 10px 10px;"><div id="container_17645427_inner" style="padding: 20px 20px 20px 20px;" class="sb-bloc-inner container_17645427_inner"><div class="element element-static-container"><div class="tree-container clearfix"><div id="container_325017" class=" sb-bloc sb-bloc-level-3 bloc-element-text  " style="padding: 10px 10px 10px 10px;"><div class="element element-text displayed_in_1_column" spellcheck="true"><p style="text-align: center;">
                                                        <span style="font-size:18px;"><strong>Fatima BENAZZOUZ - Praticienne de santé Naturopathe</strong></span></p>

{#                                                    <p style="text-align: center;">Réflexologie, Lifting énergétique, Gémmothérapie, Ventouses sèches ou humides, Massage Cupping, Naturopathie.</p>#}
                                                </div></div><div id="container_325061" class=" sb-bloc sb-bloc-level-3 bloc-element-contact  " style="padding: 0px 10px 10px 10px;"><div class="element element-contact contact-lg sb-vi-text-center element-contact-horizontal"><div class="sb-row media-query"><div class="sb-col element-contact-item">
                                                            <div class="element-contact-adress">

                                                                <p class="element-contact-text">

                                                                    <span>   95410</span>
                                                                    <span>            Groslay</span><br/>


                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div></div></div>
                                            <div id="container_338328" class=" sb-bloc sb-bloc-level-3 bloc-element-text  " style="padding: 0px 10px 0px 10px;">
                                                <div class="element element-text displayed_in_1_column" spellcheck="true">
{#                                                    <p style="text-align: center;">Du<strong> Lundi </strong>au <strong>Vendredi </strong>de <strong>9h</strong> à <strong>19h </strong>- possibilité le <strong>Week-end</strong></p>#}
                                                </div></div></div></div></div></div></div><div class=" sb-bloc sb-bloc-level-2 sb-col sb-col-sm" style="width: 32.1818%;"><div id="container_17645437" class=" sb-bloc sb-bloc-level-3 bloc-element-static-container  " style="padding: 10px 10px 10px 10px;"><div id="container_17645437_inner" style="display:none;padding: 40px 20px 20px 20px;" class="sb-bloc-inner container_17645437_inner"><div class="element element-static-container"><div class="tree-container clearfix"><div id="container_17645445" class=" sb-bloc sb-bloc-level-3 bloc-element-text  " style="padding: 10px 10px 10px 10px;"><div class="element element-text displayed_in_1_column" spellcheck="true"><p><strong>
                                                            <span style="font-size:18px;">Abonnez-vous à ma Newsletter :</span></strong></p></div></div><div id="container_17645439" class=" sb-bloc sb-bloc-level-3 bloc-element-newsletter  " style="padding: 10px 10px 10px 10px;">
                                                <div class="element element-newsletter sb-row" data-loading-text="Envoi...">
                                                    <form class="sb-vi-form" id="new_content_newsletter" action="/api_website_feature/content_newsletters" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="Ryfs3eiwN5kcoGd0ZyhirvhcHlcqqn1jKLuDYDA5eippbrXl+VHuivmv/QzwPunGyB73kh+6YhYv81HQ54TjDg==" />
                                                        <input type="hidden" name="locale" id="element-newsletter-952-locale" value="fr" />
                                                        <div class="sb-col sb-col-xs-6">
                                                            <div class="sb-vi-form-group">
                                                                <div class="sb-vi-input-with-button">
                                                                    <input class="sb-vi-form-input" placeholder="Votre email" type="text" name="content_newsletter[email]" id="content_newsletter_email" />
                                                                    <span class="sb-vi-input-group-btn">
          <button class="sb-vi-btn skin_1 no-text " data-ajax-url="/api_website_feature/opt_in_subjects"><i class="fa fa-send"></i></button>
        </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sb-vi-ajax-callback success">
                                                            <div class="ajax-callback-content">
                                                                <i class="fa fa-check"></i>
                                                                <p>Envoyé !</p>
                                                            </div>
                                                        </div>
                                                    </form></div></div></div></div></div></div></div></div></div></div>

        </section></div></div>

<div class="container-light" id="subfooter">
{#    <div class="sb-row"><div class="sb-col sb-col-sm">#}
{#            <p class="subfooter-credits pull-left">#}
{#                  <span class="subfooter-credits-webdirectories">#}
{#                    <span>Site référencé sur </span>#}
{#                      <a title="Fatima BENAZZOUZ - Naturopathe sur Annuaire-sante-bien-etre.fr" class="logo-web-directory" target="_blank" href="https://www.annuaire-sante-bien-etre.fr/professionnel-de-sante/maine-et-loire/angers-49000/naturopathie/marianne-cordier-derenne-naturopathe">#}
{#                        <img src="https://files.sbcdnsb.com/images/web_directory/1560790754/5/logo_2312.png" alt="Annuaire-sante-bien-etre.fr"/>#}
{#                    </a>#}
{#                  </span>#}
{#            </p>#}
{#            <p class="subfooter-connexion pull-right">#}
{#                <a href="https://app.simplebo.net/site/a5guj4nzl8kh/authentification/sign-in?page=accueil">Connexion</a>#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
</div>
</div>
<a id="backtotop" title="Vers le haut de page">
    <i class="fa fa-arrow-up"></i>
</a>



<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
<script src="https://assets.sbcdnsb.com/assets/app_main-4b8728f83bda10cec8bd8887aa73e45196ed6cc2961bdb6e23ec41672595022f.js"></script>
    <script src="https://assets.sbcdnsb.com/assets/app_visitor-698c1dacbf1c5fe959d62bd79bcb702bac359979e588aabbd05e750ca3e9bb24.js"></script>
    <script src="https://assets.sbcdnsb.com/assets/themes/desktop/5/js/visitor-fffa178ce3120871e43de9f57547a0a2aca975617cf25b8452b27f9d416660aa.js"></script>
    <script src="https://assets.sbcdnsb.com/assets/themes/mobile/0/js/visitor-72ef61e80eb9effa1ffa37823c9dda3565f6b0a35dd59e15d3e9d8788d7ed276.js"></script>
<style>
    .sb-vi-btn.skin_1 {font-family:'Imprima', sans-serif;}
    .sb-vi-btn.skin_2 {font-family:'Imprima', sans-serif;}
    .sb-vi-btn.skin_3 {font-family:'Imprima', sans-serif;}
    .reviews-list .sb-col { float:none !important; width: 100%;}
</style>
