.gitignore
.gitlab-ci.yml
docker-compose.yml
Makefile
README.md

/database
/logs

/symfony/.env
/symfony/.env.*
/symfony/.env.*.*
/symfony/.php_cs
/symfony/.php_cs.dist
/symfony/.php_cs.cache
/symfony.phpstan.neon
/symfony/.phpunit
/symfony/.web-server-pid
/symfony/Makefile

/symfony/bin/.phpunit/
/symfony/bin/phpunit
/symfony/config/*/dev
/symfony/config/*/test
/symfony/config/sandbox.wsdl.xml
/symfony/public/bundles/
/symfony/tests/
/symfony/var/
/symfony/vendor/
/symfony/phpunit.xml
/symfony/phpunit.xml.dist
