{% extends 'category/edit.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block h1 %}
    <h1>Nouvelle métier</h1>
{% endblock %}

{% block save %}
    <button class="btn btn-success" type="submit">{{ 'Enregister' }}</button>
{% endblock %}

{% block delete '' %}

