{% extends 'home/home.html.twig' %}

{% block title %}Qui je suis ?{% endblock %}

{% block body %}
    <style>
        .container {
            width: 100%;
            max-width: 1140px;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            font-family: Satisfy,cursive,sans-serif!important;
        }

        .expert .expertx2 {
            margin-top: -200px;
        }
        .expertx2 .expert-txt {
            background: #fff;
            margin: 0 40px 40px 65px;
            -webkit-box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
            -moz-box-shadow: 0 5px 30px 0 rgba(0,0,0,.1);
            box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
            padding: 50px;
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeIn;
        }
        .expert .expertx2 .avatar {
            float: left;
            margin: -110px 30px 20px -110px;
        }
        .orange {
            color: #7f4b61 !important;
        }
    </style>
    <div class="container">
        <div class="expertx2">
            <div class="expert-txt wow fadeIn" data-wow-delay="0.2s" data-wow-offset="50" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <div class="avatar" style="text-align: center">
                    <img src="{{ host_image ~ 'fatima.jpg' }}" alt="Fatima BENAZZOUR" class="img-responsive" style="height: 200px">
                </div>
                <p style="font-size: 18px; margin: 20px 50px">
                    Après une carrière de plus de <b>20 ans</b> en tant que technicienne de laboratoire et préleveuse en milieu hospitalier.
                    <br>
                    J’ai développé deux maladies auto immunes, au fond de moi je savais que mon hygiène de vie (mauvaise alimentation, manque de sommeil, mauvais gestion de stress au quotidien etc..) était responsable de mes problèmes de santé.
                    <br>
                    Je me suis tournée vers des solutions complémentaires naturelles.
                    <br>Passionnée par l’univers de la santé verte et des techniques naturelles, j’ai recherché autour de moi des informations qui pouvaient expliquer les raisons de mes problèmes.
                    <br>
                    Le métier de naturopathe m’est apparu comme une évidence.
                </p>
                <p class="description" style="text-align: right; margin-top: 16px">
                    <strong class="orange">Fatima BENAZZOUZ</strong>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
