{% extends 'admin.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <section class="panel important">
        <h2>Liste des utilisateurs</h2>

        <div class="text-right">
            <a class="btn-primary btn-sm" href="{{ path('user_new') }}">
                <i class="fas fa-plus"></i>
                Nouvelle Utilisateur
            </a>
        </div>

        <table>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.roles and '[]' != user.roles|json_encode %}
                            {% if 'ROLE_USER' in user.roles %}
                                <span class="badge">User</span>
                            {% endif %}
                            {% if  'ROLE_ADMIN' in user.roles %}
                                <span class="badge">Admin</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
{#                        <a href="{{ path('user_show', {'id': user.id}) }}">Voir</a>#}
                        <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Pas d'utilisateur trouvé !</td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
