<form method="post" action="{{ path('livre_or_delete', {'id': livre_or.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre_or.id) }}">
    <button class="btn-cs-danger">Delete</button>
</form>
