ul#social-network{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
ul#social-network li{
    list-style: none;
    list-style-type: none !important;
}
ul#social-network li a{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #262626;
    margin: 0 10px;
    transition: .5s;
}
ul#social-network li a span{
    position: absolute;
    transition: transform .5s;
}
ul#social-network li a span:nth-child(1),
ul#social-network li a span:nth-child(3){
    width: 100%;
    height: 1px;
    background: #7f4b61;
}
ul#social-network li a span:nth-child(1){
    top: 0;
    left: 0;
    transform-origin: right;
}
ul#social-network li a:hover span:nth-child(1){
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}
ul#social-network li a span:nth-child(3){
    bottom: 0;
    left: 0;
    transform-origin: left;
}
ul#social-network li a:hover span:nth-child(3){
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
ul#social-network li a span:nth-child(2),
ul#social-network li a span:nth-child(4){
    width: 1px;
    height: 100%;
    background: #7f4b61;
}
ul#social-network li a span:nth-child(2){
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}
ul#social-network li a:hover span:nth-child(2){
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s;
}
ul#social-network li a span:nth-child(4){
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
}
ul#social-network li a:hover span:nth-child(4){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}
