{% extends 'admin/layout.html.twig' %}

{% block title %}Nouvelle Annonce{% endblock %}

{% block body_content %}
    <h1>Nouvelle Annonce</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
