{% extends 'home/home.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}
    <div class="container-light sb-row sb-row-table sb-row-custom media-query" id="center">
        <div class="sb-col sb-col-sm" id="center_inner_wrapper">
            <div class="" id="h1">
                <div class="sb-bloc ">
                    <div class="sb-bloc-inner">
                        <h1>Site Amis</h1>
                    </div>
                </div>
            </div>
            <div class="" id="center_inner">
                <div class="sections-container">
                    <section class=" section tree-container" id="section_26843">
                        <div class="sb-bloc-inner container_325127_inner" id="container_325127_inner" style="padding: 10px 10px 60px 10px;">
                            <style>
                                .container_325127_inner {
                                    position: relative;
                                }

                                .container_325127_inner>.subcontainers {
                                    width: 100% !important;
                                    max-width: 1000px !important;
                                    margin-right: auto !important;
                                    margin-left: auto !important;
                                }
                            </style>
                            <div class="subcontainers">
                                <div class="sb-row sb-row-custom subcontainers media-query">
                                    <div class=" sb-bloc sb-bloc-level-2 sb-col sb-col-sm" style="width: 100%;">
                                        <div id="container_325361" class=" sb-bloc sb-bloc-level-3 bloc-element-static-container  " style="padding: 10px 10px 10px 10px;">
                                            <div id="container_325361_inner" style="padding: 10px 10px 10px 10px;" class="sb-bloc-inner container_325361_inner">
                                                <div class="element element-static-container">
                                                    <div class="tree-container clearfix">
                                                        <div id="container_325394" class=" sb-bloc sb-bloc-level-3 bloc-element-icon  " style="padding: 10px 10px 10px 10px;">
                                                            <div class="element element-icon icon-md sb-vi-text-center">
                                                                <div class="element-icon-container  element-icon-square element-icon-size-3x color-c-1" style="border-color: transparent;">
                                                                    <i class="fa fa-quote-left fa-fw"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="container_325329" class=" sb-bloc sb-bloc-level-3 bloc-element-title  " style="padding: 10px 10px 10px 10px;">
                                                            <div class="element element-title sb-vi-text-center">
                                                                <h2>
                                                                    <span class="element-title-inner">Site amis</span>
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <div id="container_325332" class=" sb-bloc sb-bloc-level-3 bloc-element-text  " style="padding: 10px 10px 10px 10px;">
                                                            <div class="element element-text displayed_in_1_column" spellcheck="true">
                                                                <h4 style="color: #7f4b61">Coopérative la Louve, supermarché biologique</h4>
                                                                <div style="text-align: center">
                                                                    <div>
                                                                        <img src="{{ asset('/images/coop.svg') }}" alt="Logo Coopérative la Louve">
                                                                    </div>
                                                                    <div>
                                                                        <a href="https://cooplalouve.fr" target="_blank">https://cooplalouve.fr</a>
                                                                    </div>
                                                                </div>
                                                                <br><br>

                                                                <h4 style="color: #7f4b61">La ballade des lucioles, association humanitaire venant en aide aux sans domicile fixe :</h4>
                                                                <div style="text-align: center">
                                                                    <div>
                                                                        <img src="{{ asset('/images/boo.jpg') }}" alt="Logo La ballade des lucioles" width="146">
                                                                    </div>
                                                                    <div>
                                                                        <a href="https://labaladedeslucioles.com/" target="_blank">https://labaladedeslucioles.com/</a>
                                                                    </div>
                                                                </div>
                                                                <h4 style="color: #7f4b61">Les P’tits Panier de Groslay, AMAP :</h4>
                                                                <div style="text-align: center">
                                                                    <div>
                                                                        <img src="{{ asset('/images/panier.jpg') }}" alt="Logo AMAP" width="146">
                                                                    </div>
                                                                    <div>
                                                                        <a href="https://lesptitspaniersdegroslay.org/" target="_blank">https://lesptitspaniersdegroslay.org/</a>
                                                                    </div>
                                                                </div>




                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                </section>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
