{% extends 'home/home.html.twig' %}

{% block title %}Mes prestations{% endblock %}

{% block body %}
    <div class="container-light sb-row sb-row-table sb-row-custom media-query" id="center">
        <div class="sb-col sb-col-sm" id="center_inner_wrapper">
            <div class="" id="h1">
                <div class="sb-bloc ">
                    <div class="sb-bloc-inner">
                        <h1>Mes prestations</h1>
                    </div>
                </div>
            </div>
            <div class="" id="center_inner">
                <div class="sections-container">
                    <section class=" section tree-container" id="section_26843">
                        <div class="sb-bloc-inner container_325127_inner" id="container_325127_inner" style="padding: 10px 10px 60px 10px;">
                            <style>
                                .container_325127_inner {
                                    position: relative;
                                }

                                .container_325127_inner>.subcontainers {
                                    width: 100% !important;
                                    max-width: 1000px !important;
                                    margin-right: auto !important;
                                    margin-left: auto !important;
                                }
                            </style>
                            <div class="subcontainers">
                                <div class="sb-row sb-row-custom subcontainers media-query">
                                    <div class=" sb-bloc sb-bloc-level-2 sb-col sb-col-sm" style="width: 66.9811%;">
                                        <div id="container_325361" class=" sb-bloc sb-bloc-level-3 bloc-element-static-container  " style="padding: 10px 10px 10px 10px;">
                                            <div id="container_325361_inner" style="padding: 10px 10px 10px 10px;" class="sb-bloc-inner container_325361_inner">
                                                <div class="element element-static-container">
                                                    <div class="tree-container clearfix">
                                                        <div id="container_325394" class=" sb-bloc sb-bloc-level-3 bloc-element-icon  " style="padding: 10px 10px 10px 10px;">
                                                            <div class="element element-icon icon-md sb-vi-text-center">
                                                                <div class="element-icon-container  element-icon-square element-icon-size-3x color-c-1" style="border-color: transparent;">
                                                                    <i class="fa fa-quote-left fa-fw"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="container_325329" class=" sb-bloc sb-bloc-level-3 bloc-element-title  " style="padding: 10px 10px 10px 10px;">
                                                            <div class="element element-title sb-vi-text-center">
                                                                <h2>
                                                                    <span class="element-title-inner">MES PRESTATIONS</span>
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <div id="container_325332" class=" sb-bloc sb-bloc-level-3 bloc-element-text  " style="padding: 10px 10px 10px 10px;">
                                                            <div class="element element-text displayed_in_1_column" spellcheck="true">
                                                                <h4 style="color: #7f4b61">Consultation en naturopathie</h4>
                                                                <h5>
                                                                    <u>La première consultation</u>
                                                                </h5>

                                                                <p style="text-align: justify;">
                                                                    Lors de la première consultation, nous allons déterminer votre vitalité et analyser ensemble votre mode de vie et hygiène alimentaire afin d’établir par la suite un programme d’hygiène vitale qui aura pour but de vous aider à conserver ou retrouver la santé. Pour cela, nous nous appuierons sur des moyens naturels tels que le réglage alimentaire, les exercices physiques, l’hydrologie, la relaxation, les techniques réflexes et respiratoires etc.
                                                                    <br>
                                                                </p>
                                                                <div style="text-align: center">
                                                                    <b>Durée de la séance :</b> <b style="color: #7f4b61">1h15</b>
                                                                </div>
                                                                <br>
                                                                <p style="text-align: justify;border: 1px solid #7f4b61; padding: 10px;border-radius: 7px">
                                                                   <i>Le naturopathe n’effectue pas de diagnostic et n’interfère en aucun cas avec un traitement médical. Il ne remplace pas une consultation médicale.</i>
                                                                </p>
                                                                <br><br>
                                                                <h5 style="margin-top: 20px;">
                                                                    <u>Consultation de suivi en naturopathie:</u>
                                                                </h5>
                                                                <div style="text-align: center">
                                                                    <b>Durée de la séance :</b> <b style="color: #7f4b61">45mn</b>
                                                                </div>
                                                                <br><br><br>
                                                                <h4 style="color: #7f4b61">Séance de ventouses sèches ou humides (Hijama)</h4>
                                                                <p style="text-align: justify">
                                                                    Après avoir fait une anamnèse, je pose des ventouses, sèches ou humides selon vos besoins, sur les zones du corps en lien avec votre problématique.
                                                                </p>
                                                                <br>
                                                                <div style="text-align: center">
                                                                    <b>Durée d’une séance de :</b>
                                                                    <b style="color: #7f4b61">30 à 35 mn</b>
                                                                </div>
                                                                <br><br><br>
                                                                <h4 style="color: #7f4b61">Séance de réflexologie</h4>
                                                                <h5 style="margin-top: 20px;">
                                                                    <u>Auriculothérapie:</u>
                                                                </h5>
                                                                <p style="text-align: justify;">
                                                                    Après une anamnèse, je vais stimuler la zone pavillonnaire d’une de vos oreilles en utilisant un stylet.
                                                                </p>
                                                                <div style="text-align: center">
                                                                    <b>Durée d’une séance de :</b>
                                                                    <b style="color: #7f4b61">20 mn</b>
                                                                </div>
                                                                <h5 style="margin-top: 20px;">
                                                                    <u>Lifting facial énergétique ou Massage Cupping ™</u>
                                                                </h5>
                                                                <p style="text-align: justify;">
                                                                    Je propose soit un lifting énergétique COMPLET, SPA ou un massage cupping TM suivi d’un massage facial .
                                                                    <br>
                                                                    Pour le lifting Spa, il faudra 6 séances pour obtenir des résultats et ensuite à renouveler tous les 4 mois.
                                                                    <br>
                                                                    Pour le  lifting complet, il faudra  impérativement 3 séances , à raison d’ une par semaine pour obtenir des résultats et à renouveler tous les 4 mois. Après chaque séance, le teint est éclatant et un effet bonne mine.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
{#                                        <div id="container_337708" class=" sb-bloc sb-bloc-level-3 bloc-element-static-container  " style="padding: 10px 10px 10px 10px;">#}
{#                                            <div id="container_337708_inner" style="padding: 10px 10px 10px 10px;" class="sb-bloc-inner container_337708_inner">#}
{#                                                <div class="element element-static-container">#}
{#                                                    <div class="tree-container clearfix">#}
{#                                                        <div class="sb-row sb-row-custom subcontainers media-query">#}
{#                                                            <div class=" sb-bloc sb-bloc-level-2 sb-col sb-col-sm" style="width: 50.0%;">#}
{#                                                                <div id="container_325369" class=" sb-bloc sb-bloc-level-3 bloc-element-static-container  " style="padding: 10px 10px 10px 10px;">#}
{#                                                                    <div id="container_325369_inner" style="padding: 10px; animation-duration: 1000ms;" class="sb-bloc-inner container_325369_inner sb-display-animated animated" data-animation-options="{&quot;type&quot;:&quot;slideInLeft&quot;,&quot;duration&quot;:1000,&quot;delay&quot;:250}">#}
{#                                                                        <div class="element element-static-container">#}
{#                                                                            <div class="tree-container clearfix">#}
{#                                                                                <div id="container_325356" class=" sb-bloc sb-bloc-level-3 bloc-element-icon  " style="padding: 10px 10px 10px 10px;">#}
{#                                                                                    <div class="element element-icon icon-md sb-vi-text-center">#}
{#                                                                                        <div class="element-icon-container  element-icon-square element-icon-size-3x color-c-1" style="border-color: transparent;">#}
{#                                                                                            <i class="fa fa-clock-o fa-fw"></i>#}
{#                                                                                        </div>#}
{#                                                                                    </div>#}
{#                                                                                </div>#}
{#                                                                                <div id="container_325335" class=" sb-bloc sb-bloc-level-3 bloc-element-title  " style="padding: 10px 10px 10px 10px;">#}
{#                                                                                    <div class="element element-title sb-vi-text-center">#}
{#                                                                                        <h2><span class="element-title-inner">Horaires</span></h2>#}
{#                                                                                    </div>#}
{#                                                                                </div>#}
{#                                                                                <div id="container_325338" class=" sb-bloc sb-bloc-level-3 bloc-element-text  " style="padding: 10px 10px 10px 10px;">#}
{#                                                                                    <div class="element element-text displayed_in_1_column" spellcheck="true">#}
{#                                                                                        <ul>#}
{#                                                                                            <li>Chaque séance dure entre<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>1h</strong> et<strong> 1h30</strong>.</li>#}
{#                                                                                            <li>Les rendez-vous sont pris <strong>par téléphone</strong>.</li>#}
{#                                                                                        </ul>#}
{#                                                                                    </div>#}
{#                                                                                </div>#}
{#                                                                                <div id="container_325341" class=" sb-bloc sb-bloc-level-3 bloc-element-title  " style="padding: 10px 10px 10px 10px;">#}
{#                                                                                    <div class="element element-title sb-vi-text-center">#}
{#                                                                                        <h3><span class="element-title-inner">Horaires d'ouverture</span></h3>#}
{#                                                                                    </div>#}
{#                                                                                </div>#}
{#                                                                                <div id="container_325344" class=" sb-bloc sb-bloc-level-3 bloc-element-hours  " style="padding: 10px 10px 0px 10px;">#}
{#                                                                                    <div class="element element-hours hours-md sb-vi-text-center element-hours-text">#}
{#                                                                                        <div class="element-hours-inner text">#}
{#                                                                                            <p>Du <b>Lundi</b> au <b>Vendredi</b> de <b>9h</b> à <b>19h</b></p>#}
{#                                                                                        </div>#}
{#                                                                                    </div>#}
{#                                                                                </div>#}
{#                                                                                <div id="container_325347" class=" sb-bloc sb-bloc-level-3 bloc-element-text  " style="padding: 10px 10px 10px 10px;">#}
{#                                                                                    <div class="element element-text displayed_in_1_column" spellcheck="true">#}
{#                                                                                        <ul>#}
{#                                                                                            <li>Toute consultation non annulée au minimum<strong> 48 h à l'avance </strong>est due.</li>#}
{#                                                                                            <li>Consultation non remboursée par la sécurité sociale.</li>#}
{#                                                                                            <li>Facture pour mutuelle fournie sur demande.</li>#}
{#                                                                                        </ul>#}
{#                                                                                    </div>#}
{#                                                                                </div>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                            <div class=" sb-bloc sb-bloc-level-2 sb-col sb-col-sm" style="width: 50.0%;">#}
{#                                                                <div id="container_325385" class=" sb-bloc sb-bloc-level-3 bloc-element-static-container  " style="padding: 10px 10px 10px 10px;">#}
{#                                                                    <div id="container_325385_inner" style="padding: 10px; animation-duration: 1000ms;" class="sb-bloc-inner container_325385_inner sb-display-animated animated" data-animation-options="{&quot;type&quot;:&quot;slideInRight&quot;,&quot;duration&quot;:1000,&quot;delay&quot;:500}">#}
{#                                                                        <div class="element element-static-container">#}
{#                                                                            <div class="tree-container clearfix">#}
{#                                                                                <div id="container_325389" class=" sb-bloc sb-bloc-level-3 bloc-element-icon  " style="padding: 10px 10px 10px 10px;">#}
{#                                                                                    <div class="element element-icon icon-md sb-vi-text-center">#}
{#                                                                                        <div class="element-icon-container  element-icon-square element-icon-size-3x color-c-1" style="border-color: transparent;">#}
{#                                                                                            <i class="fa fa-eur fa-fw"></i>#}
{#                                                                                        </div>#}
{#                                                                                    </div>#}
{#                                                                                </div>#}
{#                                                                                <div id="container_325350" class=" sb-bloc sb-bloc-level-3 bloc-element-title  " style="padding: 10px 10px 10px 10px;">#}
{#                                                                                    <div class="element element-title sb-vi-text-center">#}
{#                                                                                        <h2><span class="element-title-inner">Tarifs</span></h2>#}
{#                                                                                    </div>#}
{#                                                                                </div>#}
{#                                                                                <div id="container_325353" class=" sb-bloc sb-bloc-level-3 bloc-element-text  " style="padding: 10px 10px 10px 10px;">#}
{#                                                                                    <div class="element element-text displayed_in_1_column" spellcheck="true">#}
{#                                                                                        <ul>#}
{#                                                                                            <li><strong>Naturopathie</strong>&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Anamnèse première séance &nbsp; &nbsp; &nbsp; d'une heure 30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>65 €</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Séance de suivi &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <strong>60 €</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>#}
{#                                                                                        </ul>#}

{#                                                                                        <ul>#}
{#                                                                                            <li><strong>&nbsp;Bilan Scan Quantum :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Prise de données, explications et conseils : &nbsp; &nbsp;&nbsp; 1er bilan :<strong> 60 €</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bilan de contrôle :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>50 €</strong></li>#}
{#                                                                                        </ul>#}

{#                                                                                        <ul>#}
{#                                                                                            <li><strong>Fleurs de Bach</strong> :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Séance d'une heure avec préparation offerte :&nbsp;&nbsp; <strong>65 €</strong></li>#}
{#                                                                                        </ul>#}

{#                                                                                        <p><u><em>J'offre tous les mois une consultation pour les personnes qui me font part de leurs difficultés.</em></u></p>#}

{#                                                                                        <div><strong>&nbsp;</strong></div>#}

{#                                                                                        <div>Déplacement à domicile : <strong>65 euros </strong>pour un déplacement autour d'Angers.<br>#}
{#                                                                                            En dehors de ce périmètre tarif <u><strong>individualisé.</strong></u></div>#}

{#                                                                                        <div>&nbsp;</div>#}

{#                                                                                        <div style="text-align: center;">&nbsp;</div>#}
{#                                                                                    </div>#}
{#                                                                                </div>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
                                    </div>
                                    <div class=" sb-bloc sb-bloc-level-2 sb-col sb-col-sm" style="width: 33.0189%;">
                                        <div id="container_337693" class=" sb-bloc sb-bloc-level-3 bloc-element-static-container  " style="padding: 10px 10px 10px 10px;">
                                            <div id="container_337693_inner" style="padding: 10px 10px 10px 10px;" class="sb-bloc-inner container_337693_inner">
                                                <div class="element element-static-container">
                                                    <div class="tree-container clearfix">
                                                        <div id="container_325317" class=" sb-bloc sb-bloc-level-3 bloc-element-title  " style="padding: 10px 10px 10px 10px;">
                                                            <div class="element element-title sb-vi-text-center">
                                                                <h2><span class="element-title-inner">Fatima Votre Naturopathe</span></h2>
                                                            </div>
                                                        </div>
                                                        <div id="container_9687464" class=" sb-bloc sb-bloc-level-3 bloc-element-image  " style="padding: 10px 10px 10px 10px;">
                                                            <div id="container_9687464_inner" style="" class="sb-bloc-inner container_9687464_inner">
                                                                <div id="element-image-184118" class="element element-image" data-id="184118">
                                                                    <div class="element-image-container redirect_with_no_text">
                                                                        <img class="sb-vi-img-responsive img-query" src="{{ host_image ~ 'fatima.jpg' }}" alt="Fatima BENAZZOUR" class="img-responsive" sizes="270px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="container_325323" class=" sb-bloc sb-bloc-level-3 bloc-element-contact  " style="padding: 10px 10px 10px 10px;">
                                                            <div class="element element-contact contact-md element-contact-vertical">
                                                                <div class="sb-row media-query">
                                                                    <div class="sb-col element-contact-item sb-col-sm-12">
                                                                        <div class="element-contact-company-name">

                                                                        </div>
                                                                    </div>
                                                                    <div class="sb-col element-contact-item sb-col-sm-12">
                                                                        <div class="element-contact-adress">

                                                                            <p class="element-contact-text">
                                                                                <span>51 avenue du pont </span><br>

                                                                                <span> 95000</span>
                                                                                <span> Groslay</span><br>

                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="sb-col element-contact-item sb-col-sm-12">
                                                                        <div class="element-contact-telmob">

                                                                            <p class="element-contact-text">
                                                                                <span class="element-contact-link">06 52 06 93 82</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="container_325326" class=" sb-bloc sb-bloc-level-3 resizable-y bloc-element-map-standard  " style="height: 250px;">
                                                            <div id="container_325326_inner" style="margin: 10px 10px 10px 10px;" class="sb-bloc-inner container_325326_inner">
{#                                                                <div class="element element-map-standard">#}
{#                                                                    <div itemscope="" itemtype="https://schema.org/GeoCoordinates">#}
{#                                                                        <meta itemprop="latitude" content="47.4509">#}
{#                                                                        <meta itemprop="longitude" content="-0.537241">#}
{#                                                                        <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">#}
{#                                                                            <meta itemprop="addressCountry" content="">#}
{#                                                                            <meta itemprop="addressLocality" content="            Angers">#}
{#                                                                            <meta itemprop="postalCode" content="      49000">#}
{#                                                                            <meta itemprop="streetAddress" content="121 Rue des Ponts de Cé ">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
                                                                    <iframe width="100%" height="100%" style="border: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20946.66097558839!2d2.3338283300246956!3d48.9852272387914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e669a25e943049%3A0x596637c07100cae8!2sGare%20de%20Groslay!5e0!3m2!1sfr!2sfr!4v1616912932282!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="false" loading="lazy"></iframe>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
