{% extends 'home/home.html.twig' %}

{% block title %}Mes prestations{% endblock %}

{% block body %}
    <div class="container-light sb-row sb-row-table sb-row-custom media-query" id="center" style="font-size: 19px; font-family: Pompiere">
        <div class="sb-col sb-col-sm" id="center_inner_wrapper">
            <div class="" id="h1">
                <div class="sb-bloc ">
                    <div class="sb-bloc-inner">
                        <h1></h1>
                    </div>
                </div>
            </div>
            <div class="" id="center_inner">
                <div class="sections-container">
                    <section class=" section tree-container" id="section_26843">
                        <div class="sb-bloc-inner container_325127_inner" id="container_325127_inner" style="padding: 10px 10px 60px 10px;">
                            <style>
                                .container_325127_inner {
                                    position: relative;
                                }

                                .container_325127_inner>.subcontainers {
                                    width: 100% !important;
                                    max-width: 1000px !important;
                                    margin-right: auto !important;
                                    margin-left: auto !important;
                                }
                            </style>
                            <div class="subcontainers">
                                <div class="sb-row sb-row-custom subcontainers media-query">
                                    <div class=" sb-bloc sb-bloc-level-2 sb-col sb-col-sm" style="width: 100%;">
                                        <div id="container_325361" class=" sb-bloc sb-bloc-level-3 bloc-element-static-container  " style="padding: 10px 10px 10px 10px;">
                                            <div id="container_325361_inner" style="padding: 10px 10px 10px 10px;" class="sb-bloc-inner container_325361_inner">
                                                <div class="element element-static-container">
                                                    <div class="tree-container clearfix">
                                                        <div id="container_325394" class=" sb-bloc sb-bloc-level-3 bloc-element-icon  " style="padding: 10px 10px 10px 10px;">
                                                            <div class="element element-icon icon-md sb-vi-text-center">
                                                                <div class="element-icon-container  element-icon-square element-icon-size-3x color-c-1" style="border-color: transparent;">
                                                                    <i class="fa fa-quote-left fa-fw"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="container_325329" class=" sb-bloc sb-bloc-level-3 bloc-element-title  " style="padding: 10px 10px 10px 10px;">
                                                            <div class="element element-title sb-vi-text-center">
                                                                <h2>
                                                                    <span class="element-title-inner">Tarifs</span>
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <div id="container_325332" class=" sb-bloc sb-bloc-level-3 bloc-element-text  " style="padding: 10px 10px 10px 10px;">
                                                            <div class="element element-text displayed_in_1_column" spellcheck="true">
                                                                <h4 style="color: #7f4b61">Consultations de naturopathie :
                                                                </h4>
                                                                <div style="text-align: center">
                                                                    <b>Première consultation (1h15) : </b> <b style="color: #7f4b61">70 euros</b>
                                                                </div>
                                                                <div style="text-align: center">
                                                                    <b>Consultation de suivi (45mn) : </b> <b style="color: #7f4b61">60 euros</b>
                                                                </div>
                                                                <br><br>

                                                                <h4 style="color: #7f4b61">Les différents soins :</h4>
                                                                <div style="text-align: center">
                                                                    <b>Réflexologie auriculaire  (30mn) : </b> <b style="color: #7f4b61">20 euros</b>
                                                                </div>
                                                                <br>
                                                                <div style="text-align: center">
                                                                    <b>Cupping therapie (30mn) : </b> <b style="color: #7f4b61">20 euros</b>
                                                                </div>
                                                                <br>
                                                                <div style="text-align: center">
                                                                    <b>Lifting énergétique  SPA (40 mn) : </b> <b style="color: #7f4b61">80 euros</b>
                                                                </div>
                                                                <br>
                                                                <div style="text-align: center">
                                                                    <b>Massage Cupping ™ (40 mn)  : </b> <b style="color: #7f4b61">60 euros</b>
                                                                </div>
                                                                <br>
                                                                <div style="text-align: center">
                                                                    <b>Auriculothérapie : </b> <b style="color: #7f4b61">20 euros</b>
                                                                </div>
                                                                <br><br>

                                                                <h4 style="color: #7f4b61">Disponibilités :</h4>
                                                                <p>
                                                                    Sur <b>rendez -vous</b> , en semaine ou le <b>week-end</b>.
                                                                </p>
                                                                <h4 style="color: #7f4b61">Lieux de consultations et des soins :</h4>
                                                                <p>
                                                                    <b>Groslay</b> dans le 95.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
{#                                    <div class=" sb-bloc sb-bloc-level-2 sb-col sb-col-sm" style="width: 33.0189%;">#}
{#                                        <div id="container_337693" class=" sb-bloc sb-bloc-level-3 bloc-element-static-container  " style="padding: 10px 10px 10px 10px;">#}
{#                                            <div id="container_337693_inner" style="padding: 10px 10px 10px 10px;" class="sb-bloc-inner container_337693_inner">#}
{#                                                <div class="element element-static-container">#}
{#                                                    <div class="tree-container clearfix">#}
{#                                                        <div id="container_325317" class=" sb-bloc sb-bloc-level-3 bloc-element-title  " style="padding: 10px 10px 10px 10px;">#}
{#                                                            <div class="element element-title sb-vi-text-center">#}
{#                                                                <h2><span class="element-title-inner">Fatima Votre Naturopathe</span></h2>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div id="container_9687464" class=" sb-bloc sb-bloc-level-3 bloc-element-image  " style="padding: 10px 10px 10px 10px;">#}
{#                                                            <div id="container_9687464_inner" style="" class="sb-bloc-inner container_9687464_inner">#}
{#                                                                <div id="element-image-184118" class="element element-image" data-id="184118">#}
{#                                                                    <div class="element-image-container redirect_with_no_text">#}
{#                                                                        <img class="sb-vi-img-responsive img-query" src="{{ host_image ~ 'fatima.jpg' }}" alt="Fatima BENAZZOUR" class="img-responsive" sizes="270px">#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div id="container_325323" class=" sb-bloc sb-bloc-level-3 bloc-element-contact  " style="padding: 10px 10px 10px 10px;">#}
{#                                                            <div class="element element-contact contact-md element-contact-vertical">#}
{#                                                                <div class="sb-row media-query">#}
{#                                                                    <div class="sb-col element-contact-item sb-col-sm-12">#}
{#                                                                        <div class="element-contact-company-name">#}

{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="sb-col element-contact-item sb-col-sm-12">#}
{#                                                                        <div class="element-contact-adress">#}

{#                                                                            <p class="element-contact-text">#}
{#                                                                                <span>51 avenue du pont </span><br>#}

{#                                                                                <span> 95000</span>#}
{#                                                                                <span> Groslay</span><br>#}

{#                                                                            </p>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="sb-col element-contact-item sb-col-sm-12">#}
{#                                                                        <div class="element-contact-telmob">#}

{#                                                                            <p class="element-contact-text">#}
{#                                                                                <span class="element-contact-link">06 52 06 93 82</span>#}
{#                                                                            </p>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div id="container_325326" class=" sb-bloc sb-bloc-level-3 resizable-y bloc-element-map-standard  " style="height: 250px;">#}
{#                                                            <div id="container_325326_inner" style="margin: 10px 10px 10px 10px;" class="sb-bloc-inner container_325326_inner">#}
{#                                                                <div class="element element-map-standard">#}
{#                                                                    <div itemscope="" itemtype="https://schema.org/GeoCoordinates">#}
{#                                                                        <meta itemprop="latitude" content="47.4509">#}
{#                                                                        <meta itemprop="longitude" content="-0.537241">#}
{#                                                                        <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">#}
{#                                                                            <meta itemprop="addressCountry" content="">#}
{#                                                                            <meta itemprop="addressLocality" content="            Angers">#}
{#                                                                            <meta itemprop="postalCode" content="      49000">#}
{#                                                                            <meta itemprop="streetAddress" content="121 Rue des Ponts de Cé ">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <iframe width="100%" height="100%" style="border: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20946.66097558839!2d2.3338283300246956!3d48.9852272387914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e669a25e943049%3A0x596637c07100cae8!2sGare%20de%20Groslay!5e0!3m2!1sfr!2sfr!4v1616912932282!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="false" loading="lazy"></iframe>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
